.home__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 15px;
}
.add-note__btn {
  position: fixed;
  bottom: 20px;
  right: 25px;
}
.notecard__container {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}
.notecard {
  cursor: pointer;
  background-color: #333;
  border-radius: 5px;
  padding: 6px 13px;
  transition: all 0.1s linear;
  min-height: 183px;
}
.notecard:hover {
  box-shadow: 3px 4px 0px 0px #099268;
  transform: translate(-5px, -5px);
}

.notecard__title {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}
.notecard__body {
  position: relative;
  height: 100px;
  overflow: hidden;
  background-color: #1a1b1e;
  border-radius: 3px;
  padding: 10px;
}
.notecard__body::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-image: linear-gradient(transparent, #1a1b1e);
}
.notecard__body ul,
ol {
  padding-left: 40px;
}
.notecard__tag-container {
  display: flex;
  margin-top: 8px;
}
.notecard__tag {
  list-style: none;
  color: white;
  font-size: 14px;
  background-color: rgb(50, 81, 205);
  color: white;
  border-radius: 3px;
  padding: 3px 9px 5px 9px;
  margin-right: 5px;
  margin-top: 1px;
  margin-bottom: 2px;
}
.no-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}
.no-notes__title {
  transition: all 0.1s linear;
}
.no-notes__title:hover {
  color: #099268;
  transform: scale(1.05);
}
.showpage {
  padding: 50px;
}
.showpage__header {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.showpage__title {
  margin-right: 10px;
}
.showpage__body {
  background-color: #0c0c0c;
  padding: 20px;
  border-radius: 5px;
  margin: 15px 0;
  min-height: 350px;
}
.showpage__body ul,
ol {
  margin: 5px 5px 5px 40px;
}
.showpage__tag-container {
  list-style: none;
  display: flex;
}
.showpage__tag {
  margin-right: 6px;
  font-size: 15px;
  background-color: rgb(28, 71, 244);
  color: white;
  border-radius: 3px;
  padding: 3px 9px 5px 9px;
}
.showpage__home-btn {
  position: fixed;
  bottom: 20px;
  right: 25px;
}
.form-container {
  margin: 0 auto;
  max-width: 850px;
  padding: 20px 50px;
}
.form-title {
  text-align: center;
}
.form__btn-container {
  display: flex;
  justify-content: right;
}
.nav-container {
  display: flex;
  align-items: center;
  padding: 10px 25px;
}
.nav-container__search {
  width: 250px;
  min-width: 200px;
}
.nav-container__filter {
  min-width: 250px;
  margin: 0 15px;
}
.nav-container__btn-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-container__btn--tags {
  margin-left: 10px;
}
.modal-row-container {
  padding: 8px 0;
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-header__icon {
  padding-right: 4px;
}
.modal-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}
.modal-row__input {
  width: 100%;
  margin-right: 10px;
}
.modal-row__checkbox {
  margin-top: 6px;
}
.modal-btn-container {
  display: flex;
  justify-content: end;
  margin-top: 10px;
}
@media only screen and (max-width: 700px) {
  .home__title {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .notecard__container {
    padding: 15px;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }
  .showpage {
    padding: 50px 25px;
  }
  .showpage__title {
    font-size: 25px;
    margin-top: 5px;
  }
  .form-container {
    padding: 50px 25px;
  }
  .nav-container {
    flex-direction: column-reverse;
  }
  .nav-container__search {
    width: 100%;
  }
  .nav-container__filter {
    width: 100%;
    margin: 12px 0;
  }
  .nav-container__btn-container {
    margin-left: 0;
  }
  .nav-container__btn--notes {
  }
  .nav-container__btn--tags {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .notecard__container {
    padding: 10px;
    grid-template-columns: auto;
    gap: 15px;
  }
  .form-container {
    padding: 40px 20px;
  }
}
